@import "./_mixin.scss";

body {
  font-family: $ff_main;
  overflow-x: hidden;
}
.for {
  &Sp {
    display: none;
  }
  &Pc {
    display: block;
  }
}

/*********************************************/
/*                    name                   */
/*********************************************/
.my-name {
  display: flex;
  .my-name__img {
    img {
      width: 7.5rem;
      height: 7.5rem;
    }
  }
  .my-name__text {
    padding-left: 3.6rem;
    h3 {
      font-size: 1.6rem;
      letter-spacing: 0.1em;
      font-family: $ff_accent;
      padding-top: 0.9rem;
      padding-left: 0.4rem;
    }
    h2 {
      font-size: 3.6rem;
      letter-spacing: 0.1em;
      font-family: $ff_accent;
      padding-top: 0.4rem;
    }
  }
}

/*********************************************/
/*                   box                   */
/*********************************************/
.large-box {
  width: 100%;
  background-color: $bg-white;
  height: 7.2rem;
  border-radius: 3px;
}

.medium-box {
  width: 48%;
  background-color: $bg-white;
  height: 5rem;
  border-radius: 3px;
}

/*********************************************/
/*        common-white-box                   */
/*********************************************/

.common-white-box {
  @include wrap-w-sp;
  background-color: $bg-white;
  border-radius: 12px;
  margin-top: 4rem;
  margin-bottom: 3.2rem;
  .common-white-box__inner {
    @include wrap-sp;
  }
  .common-w-title {
    display: flex;
    align-items: center;
    padding-top: 3rem;
    justify-content: center;
  }
  .common-w-title__img-wrap {
    img {
      width: 3.6rem;
      height: 2.9rem;
    }
  }
  .common-w-title__text-wrap {
    p {
      @include t-20($black, $ff_accent);
      padding-left: 1.4rem;
    }
  }
  .common-w-title__des {
    padding-top: 3rem;
    padding-bottom: 6.2rem;
    p {
      @include t-14;
    }
  }
  .common-w-h2 {
    border-bottom: 0.5px solid $border-gray;
    padding-bottom: 0.4rem;
    margin-bottom: 2.4rem;
    h2 {
      @include wrap-w-inner-sp;
      @include t-18($black, $ff_accent);
    }
    &.plus-p-top {
      padding-top: calc(8rem - 3.1rem);
    }
  }
  .common-w-h2__des {
    padding-bottom: 4rem;
    @include wrap-w-inner-sp;
    p {
      @include t-14;
    }
  }
  .common-w-content__wrap {
    padding-bottom: 3.1rem;
  }
  .common-w-h3 {
    padding: .9rem 2.1rem;
    display: inline-block;
    background-color: $white;
    border-radius: 6px;
    box-shadow: 2px 2px 0px 1.4px #5D5D5D;
    h3 {
      @include t-14($black, $ff_accent);
    }
  }
  .common-w-h3__img {
    margin-top: 1.4rem;
    &.plus-p-top {
      margin-top: 0;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .common-w-h3__sub-text {
    padding-top: 1.5rem;
    text-align: right;
    p {
      @include t-12;
    }
  }
}
