@import "./_common.scss";

/*********************************/
/*            SP Base            */
/*********************************/
html {
  font-size: 10px;
  box-sizing: border-box;
  background-color: $bg-black;
}

.loading {
  &.loaded {
    opacity: 0;
    display: none;
  }
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: all 0.6s ease;
  z-index: 100;
  background-color: $bg-black;

  .spinner-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  .pulse-container {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pulse-bubble {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3ff9dc;
  }

  @keyframes pulse {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0.25;
      transform: scale(0.75);
    }
  }

  .pulse-bubble-1 {
    animation: pulse 0.4s ease 0s infinite alternate;
  }
  .pulse-bubble-2 {
    animation: pulse 0.4s ease 0.2s infinite alternate;
  }
  .pulse-bubble-3 {
    animation: pulse 0.4s ease 0.4s infinite alternate;
  }
}

.first-movie {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  left: 100vh;
  overflow: hidden;

  &__main {
    width: 100vw;
    height: 100vh;
    position: relative;

    &--video {
      position: absolute;
      height: 100vh;
      width: 100%;
    }
  }

  &__next-button {
    position: absolute;
    bottom: 12rem;
    right: 4rem;
    width: 28rem;
    height: 8rem;
    background-color: aliceblue;
    z-index: 200;
    opacity: 0.9;
    border-radius: 4px;
    box-shadow: 3px 3px 12px #19191929;

    &--txt {
      @include t-game-title($black, $ff_accent);
      font-size: 2.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}

.index {
  @include wrap-sp;
  & .my-name {
    padding-top: 5rem;
    color: $white;
  }
  .index-title {
    @include t-game-title($white);
  }
  .business-side {
    padding-top: 6rem;
  }
  .creator-side {
    padding-top: 3.2rem;
  }
  .index__planner-link {
    margin-top: 1.6rem;
  }
  .large-box {
    display: flex;
    align-items: center;
    img {
      width: 3.6rem;
      height: 2.9rem;
      padding-left: 2.1rem;
    }
    p {
      @include t-20($black, $ff_accent);
      padding-left: 1.4rem;
    }
  }
  .sub-corner {
    display: flex;
    justify-content: space-between;
    margin-top: 3.2rem;
    margin-bottom: 10rem;
    p {
      @include t-20($black, $ff_accent);
      text-align: center;
      line-height: 5rem;
    }
  }
}

.profile {
  .profile__my-name {
    padding-top: 3.3rem;
  }
  .profile__top_img {
    margin-top: 4.1rem;
    margin-bottom: 4.2rem;
  }
  .profile__inner {
    @include wrap-w-inner-sp;
  }
  .profile-content__wrap {
    padding: 3rem 0;
  }
  .profile__title {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .profile-title__img-wrap {
    img {
      width: 3.6rem;
      height: 2.9rem;
    }
  }
  .profile-title__text-wrap {
    p {
      @include t-20($black, $ff_accent);
      padding-left: 1.4rem;
    }
  }
  .profile__main-text {
    margin-top: 1.8rem;
    .en {
      @include t-12($gold);
      padding-bottom: 0.4rem;
    }
    .jp {
      @include t-14;
      line-height: 2.4rem;
      border-bottom: 0.5px solid $border-gray;
      padding-bottom: 0.4rem;
      span {
        font-size: 1.2rem;
      }
      &.plus-p-top {
        margin-top: 1.2rem;
      }
    }
  }
}

.other {
  .other-title__des {
    text-align: center;
  }
}

.dev {
  .dev-title__des {
    text-align: center;
  }
  .dev-content__wrap {
    @include wrap-w-inner-sp;
  }
}
