@import "./_common.scss";

/*********************************/
/*            SP Base            */
/*********************************/
html {
  font-size: 10px;
  box-sizing: border-box;
  background-color: $bg-black;
}

.index {
  @include wrap-sp;
  & .my-name {
    padding-top: 5rem;
    color: $white;
  }
  .index-title {
    @include t-game-title($white);
  }
  .business-side {
    padding-top: 6rem;
  }
  .creator-side {
    padding-top: 3.2rem;
  }
  .index__planner-link {
    margin-top: 1.6rem;
  }
  .large-box {
    display: flex;
    align-items: center;
    img {
      width: 3.6rem;
      height: 2.9rem;
      padding-left: 2.1rem;
    }
    p {
      @include t-20($black, $ff_accent);
      padding-left: 1.4rem;
    }
  }
  .sub-corner {
    display: flex;
    justify-content: space-between;
    margin-top: 3.2rem;
    margin-bottom: 10rem;
    p {
      @include t-20($black, $ff_accent);
      text-align: center;
      line-height: 5rem;
    }
  }
}

.profile {
  .profile__my-name {
    padding-top: 3.3rem;
  }
  .profile__top_img {
    margin-top: 4.1rem;
    margin-bottom: 4.2rem;
  }
  .profile__inner {
    @include wrap-w-inner-sp;
  }
  .profile-content__wrap {
    padding: 3rem 0;
  }
  .profile__title {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .profile-title__img-wrap {
    img {
      width: 3.6rem;
      height: 2.9rem;
    }
  }
  .profile-title__text-wrap {
    p {
      @include t-20($black, $ff_accent);
      padding-left: 1.4rem;
    }
  }
  .profile__main-text {
    margin-top: 1.8rem;
    .en {
      @include t-12($gold);
      padding-bottom: .4rem;
    }
    .jp {
      @include t-14;
      line-height: 2.4rem;
      border-bottom: .5px solid $border-gray;
      padding-bottom: .4rem;
      span {
        font-size: 1.2rem;
      }
      &.plus-p-top {
        margin-top: 1.2rem;
      }
    }
  }
}

.other {
  .other-title__des {
    text-align: center
  }
}

.dev {
  .dev-title__des {
    text-align: center
  }
  .dev-content__wrap {
    @include  wrap-w-inner-sp;
  }
}
