@import "./common/responsive";
@import "./common/common";
@import "./components/loading";
@import "./pages/firstMovie";
@import "./pages/index";
@import "./pages/profile";
@import "./pages/other";
@import "./pages/dev";
@import "./components/navMenu";

/*********************************/
/*            SP Base            */
/*********************************/
html {
  @include ipad {
    font-size: 8px;
  }
  @include pc {
    font-size: 10px;
  }
  // @include sp-min {
  //   font-size: 8px;
  // }
  font-size: 10px;
  box-sizing: border-box;
  background-color: $bg-black;
}
