.hamburger {
  &__btn {
    width: 9rem;
    height: 9rem;
    background-color: #c0cbd3;
    position: fixed;
    bottom: 3rem;
    right: 1.2rem;
    border-radius: 1000px;
    box-shadow: 3px 3px 12px #19191929;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    &:hover {
      @include pc {
        opacity: 0.8;
      }
    }
    @include pc {
      width: 12rem;
      height: 12rem;
      bottom: 6rem;
      right: 8rem; //calcが効かないブラウザ用
      right: calc(50% - 56rem);
    }
  }
  &__icon {
    position: relative;
    width: 4rem;
    height: 1.4rem;
    z-index: 100;
    span {
      display: inline-block;
      transition: all 0.4s;
      position: absolute;
      right: 0;
      height: 0.4rem;
      width: 4rem;
      background-color: #fff;
      border-radius: 8px;
      &:nth-of-type(1) {
        top: 100%;
      }
      &:nth-of-type(2) {
        top: 0%;
      }
    }
    &.is-active {
      &.hamburger__icon {
        span {
          &:nth-of-type(1) {
            transform: translateY(-7px) rotate(45deg);
          }
          &:nth-of-type(2) {
            transform: translateY(7px) rotate(-45deg);
          }
        }
      }
    }
  }
}

.nav {
  &__wrap {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    background-color: rgba(0, 0, 0, 0.98);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
}
