.dev {
  .dev-title__des {
    text-align: center;
  }
  .dev-content__wrap {
    @include wrap-w-inner-sp;
  }
  .dev-width-max {
    @include pc {
      @include wrap-w-inner-pc;
      img {
        height: 24.6rem !important;
      }
    }
  }
  .dev-site {
    &__contents {
      @include pc {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
    &__content {
      position: relative;
      width: 100%;
      @include pc {
        width: 48%;
        margin-bottom: 1.4rem;
      }
      img {
        border-radius: 3px;
        transition: opacity 0.4s ease;
        &:hover {
          @include pc {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
