/*********************************/
/*            commmon            */
/*********************************/
@mixin middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*********************************************/
/*             color                         */
/*********************************************/
$bg-black: #000000;
$black: #1a1a1a;
$gold: #a99f5f;
$bg-white: rgba(255, 255, 255, 0.85);
$white: #fff;
$border-gray: rgba(173, 171, 171,.8);

/*********************************************/
/*             font-family                   */
/*********************************************/
$ff_main: YuMincho, /* Mac用 */ "Yu Mincho", /* Windows用 */ serif;
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');
$ff_accent: "Kaisei Decol", serif;
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
$ff-game: "DotGothic16", sans-serif;

/*********************************************/
/*                 font                   */
/*********************************************/
@mixin t-game-title($color: $black, $font-family: $ff-game) {
  color: $color;
  font-family: $font-family;
  font-size: 1.8rem;
  line-height: 1.7rem;
  letter-spacing: 0.2em;
}

@mixin t-12($color: $black, $font-family: $ff-main) {
  color: $color;
  font-family: $font-family;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.1em;
  font-weight: 600;
}

@mixin t-14($color: $black, $font-family: $ff-main) {
  color: $color;
  font-family: $font-family;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1em;
  font-weight: 600;
}

@mixin t-18($color: $black, $font-family: $ff-main) {
    color: $color;
    font-family: $font-family;
    font-size: 1.8rem;
    line-height: 2rem;
    letter-spacing: 0.05em;
    font-weight: 600;
  }

@mixin t-20($color: $black, $font-family: $ff-main) {
  color: $color;
  font-family: $font-family;
  font-size: 2rem;
//   line-height: 1.7rem;
  letter-spacing: 0.1em;
}

/*********************************************/
/*                 wrap                   */
/*********************************************/
@mixin wrap-sp {
  width: 31.5rem;
  margin: 0 auto;
}

@mixin wrap-pc {
  width: 98rem;
  margin: 0 auto;
}

@mixin wrap-w-sp {
  width: 35.3rem;
  margin: 0 auto;
}

@mixin wrap-w-pc {
  width: 104rem;
  margin: 0 auto;
}

@mixin wrap-w-inner-sp {
  width: 28.1rem;
  margin: 0 auto;
}

@mixin wrap-w-inner-pc {
  width: 84rem;
  margin: 0 auto;
}
